main {
    max-width:38rem;
    padding:2rem;
    margin:auto;
}

h1{
    border-radius: 50px;
    background: #EBECF0;
    box-shadow:  5px 5px 20px #c8c9cc,
                -5px -5px 20px #ffffff;

    text-align: center;
}

div.reg{
    border-radius: 50px;
    background: #EBECF0;
    box-shadow:  5px 5px 20px #c8c9cc,
                -5px -5px 20px #ffffff;

    margin-left: 15%;
    margin-right: 15%;
}

.message{
    text-align: right;
    margin-right:20%;
}

table.reg_form{
    width: 100%;
    border-spacing: 10px 30px;
    padding-left:20px;
}

.btn{
    border-radius: 50px;
    background: #EBECF0;
    box-shadow:  5px 5px 20px #c8c9cc,
                -5px -5px 20px #ffffff;

    font-size: 1.0em;
    padding: 10px 30px;
    margin-left:80%;
}

.btn:hover{
    color: #fff;
    background: #000099;
}